

.advantages {
    @include tablets {
        display: none;
    }
}

.advantages__list {
    display: flex;
}

.advantages__item {
    margin-right: rem(60px);

    &:last-child {
        margin-right: 0;
    }
}