.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}

.contacts__phone.header-contacts__phone {
    @include tablets {
        display: none;
    }
}

.menu {
    margin: 0 30px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(27px);
    margin-top: 7px;
    margin-bottom: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.contacts {
    margin-top: -20px;
}


.contacts__phone {
    font-size: rem(22px);
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.contacts__phone-text {
    white-space: nowrap;
}


.contacts__phone-icon {
    flex-shrink: 0;
}

.contacts__phone-icon-elem {
    width: rem(14px);
    height: rem(78px);
    margin-right: rem(6px);
    
   
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}