html, body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 1120px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/leaf_big.svg") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.hero::before {
  position: absolute;
  bottom: -5%;
  left: 9%;
  content: url("../img/leaf.svg");
}
.hero:after {
  content: url("../img/berries_leaves.svg");
  position: absolute;
  bottom: -7%;
  right: 11px;
}

.preview {
  width: 46%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0 50px;
  background: url("../../img/chocolates.png") right center/50% auto no-repeat;
}

.preview__title {
  font-size: 48px;
  line-height: 110%;
  font-weight: bold;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.preview__info {
  font-size: 21px;
  margin-bottom: 32px;
  padding-right: 27%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.contacts__phone {
  font-size: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contacts__phone-icon-elem {
  width: 14px;
  height: 13.78px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  margin-right: 60px;
}
.advantages__item:last-child {
  margin-right: 0;
}

.advantage {
  display: flex;
  max-width: 114px;
}

.advantages__img {
  width: 41px;
  margin-right: 11px;
}

.advantages__text {
  font-size: 16px;
}

.order__button {
  font-size: 16px;
  font-weight: 800;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 94%;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.order__button--white {
  background: #fff;
  color: #365A49;
}
.order__button--white:hover {
  color: #fff;
  background: #365A49;
}
.order__button--green {
  background: #365A49;
  color: #fff;
  margin-top: 63px;
  margin-right: -23px;
}
.order__button--green:hover {
  color: #365A49;
  background: #fff;
}
.order__button--transparent {
  background: transparent;
  color: #497870;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
}
.order__button--transparent:hover {
  color: #365A49;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #497870;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}

.headline {
  text-align: center;
  margin-bottom: 49px;
}

.headline__title {
  margin-bottom: 19px;
}

.headline__subtitle {
  padding: 0 31%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url("../img/oOo.svg");
  position: absolute;
  top: 50px;
  right: 0;
  transform: translate(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  content: "";
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 18px;
  color: #292929;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.benefit__img {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/whyleaf.svg") left top 57% no-repeat;
}
.benefits-section::before {
  content: url("../img/bars-raspberry.svg");
  position: absolute;
  bottom: -9%;
  left: 0;
}

.review-section__title {
  margin-bottom: 32px;
}

.reviews__display {
  background: url("../../img/review-picture.svg") right top 22px no-repeat;
  background-color: #F8FAF9;
  padding: 42px 42px 42px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -61px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 12px;
}

.reviews__text {
  margin-bottom: 25px;
  padding-right: 289px;
}

.reviews__author {
  font-size: 18px;
  font-weight: 500;
  color: #292929;
}

.reviews__switch {
  display: flex;
  justify-content: center;
}

.reviews__switch-item {
  margin-right: 6px;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #365A49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  background: url("../../img/review-strawberry.svg") right 9% top 13% no-repeat;
}
.reviews-section::before {
  content: url("../../img/review-leaf-and-berries.svg");
  position: absolute;
  bottom: -21%;
  left: 0;
}

.order-section {
  background: url("../../img/order_background.png");
  position: relative;
}
.order-section::before {
  position: absolute;
  content: url("../../img/order_blueberry.svg");
  left: 51px;
  bottom: 69px;
}
.order-section::after {
  content: url("../../img/order_leaf.svg");
  position: absolute;
  right: 10px;
  bottom: 58px;
}

.order-section__title {
  margin-bottom: 61px;
  color: #365A49;
}

.form {
  display: flex;
}

.form__column {
  flex: 1;
  margin-right: 16px;
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 14px;
}

.form__block {
  flex: 1;
  margin-right: 16px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
  border-radius: 4px;
}
.form__input--textarea {
  height: 152px;
  resize: none;
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 24px;
  margin-bottom: 16px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 8px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}