html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/leaf_big.svg") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 93%;
  }
}
@media screen and (max-width: 768px) {
  .hero::before, .hero::after {
    display: none;
  }
}
.hero::before {
  position: absolute;
  bottom: -5%;
  left: 9%;
  content: url("../img/leaf.svg");
}
.hero::after {
  content: url("../img/berries_leaves.svg");
  position: absolute;
  bottom: -7%;
  right: 0.6111111111rem;
}

.preview {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .preview {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .preview::before {
    content: "";
    width: 323px;
    height: 338px;
    background: url("../img/comp.png") center center/contain no-repeat;
    margin-bottom: 20px;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.7777777778rem;
  background: url("../img/chocolates.png") right center/50% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.preview__title {
  font-size: 2.6666666667rem;
  line-height: 110%;
  font-weight: bold;
  margin-bottom: 0.9444444444rem;
  text-transform: uppercase;
}

.preview__info {
  font-size: 1.1666666667rem;
  margin-bottom: 1.7777777778rem;
  padding-right: 27%;
}
@media screen and (max-width: 768px) {
  .preview__info {
    padding: 0 26%;
  }
}
@media screen and (max-width: 480px) {
  .preview__info {
    padding: 0 16%;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contacts__phone.header-contacts__phone {
    display: none;
  }
}

.menu {
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: 1.5rem;
  margin-top: 7px;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.contacts {
  margin-top: -20px;
}

.contacts__phone {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contacts__phone-text {
  white-space: nowrap;
}

.contacts__phone-icon {
  flex-shrink: 0;
}

.contacts__phone-icon-elem {
  width: 0.7777777778rem;
  height: 4.3333333333rem;
  margin-right: 0.3333333333rem;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .advantages {
    display: none;
  }
}

.advantages__list {
  display: flex;
}

.advantages__item {
  margin-right: 3.3333333333rem;
}
.advantages__item:last-child {
  margin-right: 0;
}

.advantage {
  display: flex;
  max-width: 6.3333333333rem;
}

.advantages__img {
  width: 2.2777777778rem;
  margin-right: 0.6111111111rem;
}

.advantages__text {
  font-size: 0.8888888889rem;
}

.order__button {
  font-size: 0.8888888889rem;
  font-weight: 800;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 94%;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.order__button--white {
  background: #fff;
  color: #365A49;
}
.order__button--white:hover {
  color: #fff;
  background: #365A49;
}
@media screen and (max-width: 480px) {
  .order__button--white {
    font-size: 19px;
  }
}
.order__button--green {
  background: #365A49;
  color: #fff;
  margin-top: 2.4444444444rem;
  margin-right: -1.2777777778rem;
}
.order__button--green:hover {
  color: #365A49;
  background: #fff;
}
.order__button--transparent {
  background: transparent;
  color: #497870;
  text-transform: none;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2.4444444444rem;
}
.order__button--transparent:hover {
  color: #365A49;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #497870;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}

.headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}

.headline__title {
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 768px) {
  .headline__title {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 12px;
  }
}

.headline__subtitle {
  padding: 0 31%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 23%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 7%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 19px;
  }
}
.benefits__item::before {
  content: url("../img/oOo.svg");
  position: absolute;
  top: 2.7777777778rem;
  right: 0;
  transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  content: "";
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 14px;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-right: 12px;
  }
}

.benefit__img {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
  background: url("../img/whyleaf.svg") left top 57% no-repeat;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    background-position: left top 15%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url("../img/bars-raspberry.svg");
  position: absolute;
  bottom: -9%;
  left: 0;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.review-section__title {
  margin-bottom: 1.7777777778rem;
}

.reviews__display {
  background: url("../img/review-picture.svg") right top 1.2222222222rem no-repeat;
  background-color: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -3.3888888889rem;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 130px;
    height: 130px;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-top: 32px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin-right: 7px;
  }
}

.reviews__text {
  margin-bottom: 1.3888888889rem;
  padding-right: 16.0555555556rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding: 0 0;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: 500;
  color: #292929;
}

.reviews__switch {
  display: flex;
  justify-content: center;
}

.reviews__switch-item {
  margin-right: 0.3333333333rem;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.2222222222rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #365A49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  background: url("../img/review-strawberry.svg") right 9% top 13% no-repeat;
}
@media screen and (max-width: 768px) {
  .reviews-section {
    background-position: right -4% top 2%;
  }
}
.reviews-section::before {
  content: url("../img/review-leaf-and-berries.svg");
  position: absolute;
  bottom: -21%;
  left: 0;
}
@media screen and (max-width: 480px) {
  .reviews-section::before {
    bottom: -22%;
  }
}

.order-section {
  background: url("../img/order_background.png");
  position: relative;
}
.order-section::before {
  position: absolute;
  content: url("../img/order_blueberry.svg");
  left: 2.8333333333rem;
  bottom: 3.8333333333rem;
}
@media screen and (max-width: 768px) {
  .order-section::before {
    display: none;
  }
}
.order-section::after {
  content: url("../img/order_leaf.svg");
  position: absolute;
  right: 0.5555555556rem;
  bottom: 3.2222222222rem;
}
@media screen and (max-width: 768px) {
  .order-section::after {
    display: none;
  }
}

.order-section__title {
  margin-bottom: 3.3888888889rem;
  color: #365A49;
}
@media screen and (max-width: 768px) {
  .order-section__title {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 480px) {
  .order-section__title {
    margin-bottom: 41px;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__column {
  flex: 1;
  margin-right: 0.8888888889rem;
}
.form__column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.7777777778rem;
}

.form__block {
  flex: 1;
  margin-right: 0.8888888889rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 36px;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 82px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    margin-bottom: 0;
  }
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__buttons {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../../img/checkmark.svg") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    margin-bottom: 0;
  }
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible::before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #365A49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 1.3333333333rem;
  margin-bottom: 0.8888888889rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.4444444444rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 26px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
    position: fixed;
    right: 3%;
  }
}

.hamburger__board {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.map {
  width: 100%;
  height: 100%;
  background: url("/img/map.png") center center no-repeat;
  background-size: cover;
  margin-bottom: 19px;
}

.map__img {
  flex: 1;
  padding-right: 0;
}

.footer {
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .contacts__phone--green {
    margin-right: 86px;
    margin-bottom: -16px;
  }
}

.contacts__phone-text--footer {
  color: #497870;
}

.contacts {
  margin-left: 86px;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__address {
  font-size: 21px;
  color: #292929;
  margin-bottom: -19px;
}
@media screen and (max-width: 480px) {
  .contacts__address {
    margin-right: 91px;
  }
}

.socials {
  display: flex;
  margin-right: 28px;
  margin-bottom: 28px;
}
@media screen and (max-width: 480px) {
  .socials {
    margin-right: 5px;
  }
}

.socials__list {
  margin-right: 14px;
}
.socials__list:last-child {
  margin-right: 0;
}