.socials {
    display: flex;
    margin-right: 28px;
    margin-bottom: 28px;

    @include phones {
        margin-right: 5px;
    }
    
}

.socials__list {
    margin-right: 14px;

    &:last-child {
        margin-right: 0;
    }
}