.benefits {
    display: flex;
    // text-align: center;
}

.benefits__item {
    flex: 1;
    padding: 0 3%; // margin: 0 3%;
    position: relative;

    &::before {
        content: url("../img/oOo.svg");
        position: absolute;
        top: rem(50px);
        right: 0;
        transform: translate(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        &:before {
            content: ""; // or display: none;
        }
        padding-right: 0;
    }
}

.benefit__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(18px);
    color: #292929;

    @include tablets {
        margin-bottom: 8px;
    }
}
