.order__button {
    font-size: 16px;
    font-weight: 800;
    padding: 21px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 94%;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--white {
        background: #fff;
        color: $darkGreen;

        &:hover {
            color: #fff;
            background: $darkGreen;

        }
    }

    &--green {
        background: $darkGreen;
        color: #fff;
        margin-top: 63px;
        margin-right: 4px;

        &:hover {
            color: $darkGreen;
            background: #fff;
            

        }
    }

    &--transparent {
        background: transparent;
        color: #497870;
        text-transform: none;
        font-size: 18px;
        font-weight: 400;
        

        &:hover {
            color: $darkGreen;
            

        }
    }
}