.form {
    display: flex;
}

.form__column {
    flex: 1;
    margin-right: rem(16px);

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(14px);
}

.form__block {
    flex: 1;
    margin-right: rem(16px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(12px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    &--textarea {
        height: rem(152px);
        resize: none;
    }

    &:focus {
        border-color: #DEE2BD;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}