.hero {
    background: url("../img/leaf_big.svg") right bottom no-repeat;
    background-color: $blue;
    height: 100vh;
    min-height: rem(650px);
    color: #fff;
    position: relative;

    @include tablets {
        background-position: right bottom 93%;
    }

    &::before, &::after {
        @include tablets {
            display: none;
        }
    }

    &::before {
        position: absolute;
        bottom: -5%;
        left: 9%;
        content: url("../img/leaf.svg");
    }

    &::after {
        content: url("../img/berries_leaves.svg");
        position: absolute;
        bottom: -7%;
        right: rem(11px);
    }
}

.preview {
    width: 46%;
   
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content: url("../img/comp.png");

        }
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) 0 rem(50px);
    background: url("../img/chocolates.png") right center / 50% auto no-repeat;

    @include tablets {
        background: none;
    }
} 
    

.preview__title {
    font-size: rem(48px);
    line-height: 110%;
    font-weight: bold;
    margin-bottom: rem(17px);
    text-transform: uppercase;
}

.preview__info {
    font-size: rem(21px);
    margin-bottom: rem(32px);
    padding-right: 27%;

    @include tablets {
        padding: 0 20%;
    }
}