.order-section {
    background: url("../../img/order_background.png");
    position: relative;

    &::before {
        position: absolute;
        content: url(../../img/order_blueberry.svg);
        left: 51px;
        bottom: 69px;
    }

    &::after {
        content: url("../../img/order_leaf.svg");
        position: absolute;
        right: 10px;
        bottom: 58px;
    }
}

.order-section__title {
    margin-bottom: 61px;
    color: $darkGreen;
}